<div class="comments-list">
    {{#each this}}
    <section class="single-comment">
        <div class="comment-header">
            <p>By <strong>{{user.username}}</strong>.</p> <p>{{format_date created_at}}</p>
        </div>
        <div class="comment-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>