<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <p class="date-info">{{format_date created_at}}</p>
        {{!-- compare to comment to set href --}}
    </div>
    <div class="blog_text">
        <p>{{blog_text}}</p>
    </div>
</article>