* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #006b39;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #12a05e;
}

button {
    background-color: #12a05e;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #12a05e;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #12a05e;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form > div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

header, footer {
    color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #333;
}

header a {
    font-size: 1em;
    color: white;
}

main {
    flex: 1;
}

nav a {
    padding-left: 30px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post-list {
    margin: 0;
    padding: 0;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #12a05e;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.login-wrapper, .signup-wrapper {
    margin-top: 50px;
}

.login input {
    width: 50vw;
    height: 30px;
    padding: 1%;
    font-size: 15px;
}

.login button {
    font-size: 15px;
}

.delete-post-btn {
    background-color: #ff643d;
}

.delete-post-btn:hover {
    background-color: #853e2d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

ol {
    list-style-type: none;
}

ol li:nth-of-type(even) {
    background-color: #ddd;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.post-title {
    padding: 0 5%;
}

.post-list li {
    border-bottom: 2px solid #eee;
    padding: 10px 50px;
    /* here */
}

.title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.title a, .title h3, .date-info {
    margin: 0px;
    display: inline;
}

.title-name {
    display: flex;
}

.title-name p {
    margin: 0 5px;
}

.edit-link {
    display: block;
    margin: 1.5% 0 1.5% 0;
}

.single-post, .edit-wrapper {
    padding: 5%;
}

.comments {
    padding: 2% 0;
}


.comment-form {
    margin: 2% 0;
}

.comment-form textarea {
    width: 90vw;
}

.comment {
    padding: 5px 15px;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.post-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.new-post-form input, .new-post-form textarea {
    width: 80vw;
}

.edit-post-form {
    margin-bottom: 5%;
}

.edit-post-form input, .edit-post-form textarea {
    font-size: 17px;
    padding: 10px 10px;
    width: 90vw;
    height: 30px;
}

.edit-post-form textarea {
    min-height: 400px;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    height: 80px;
}